@tailwind base;
@tailwind components;
@tailwind utilities;

/* From Public Directory */
@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-Regular.ttf");
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/IBMPlexMono-Regular.ttf");
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

@layer base {
  .main-content {
    @apply flex flex-col gap-14 md:gap-32 pt-20 sm:pt-40 pb-32;
  }

  .border-color {
    @apply border-[--foreground];
  }

  .text-large {
    @apply text-2xl sm:text-3xl;
  }

  .bg-shade{
    @apply bg-[--shade];
  }
}

:root {
  --foreground: #09090b;
  --background: #fafafa;
  --shade: #f4f4f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fafafa;
    --background: #18181b;
    --shade: #27272a;
  }
}

html {
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
}

main a {
  text-decoration: underline;
}

pre {
  font-family: "IBM Plex Mono", monospace;
}
